
<div class="container-flex justify-content-center row">
  <div class="card">
       <img src="http://www.pbs.org/parents/adventures-in-learning/files/2016/06/teaching-kids-how-to-say-hello-in-different-languages.jpg">
<h1><%= @post.title %></h1>
<p><%= @post.body %></p>



<p><strong>Created At:</strong> <%= @post.created_at %></p>


<%= link_to 'Edit', edit_post_path(@post)%>
<%= link_to 'Delete', post_path(@post), method: :delete%>
</div>
</div>
